@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  color: white;
  font-size: 5vh;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header-logo {
  display: flex;
  flex-direction: row;
  flex: 1 0 20%;
  gap: 2%;
}
.logo-image{
  width: 18vh;
  display: flex;
}
.logo-image img{
  height: 80%;
  width: 100%;
  object-fit: cover;
  align-self: flex-end;
}
.logo-text{
  align-self: center;
}
.logo-text a{
  color: white;
}
.content {
  height: 75vh;
  background-image: url("../../img/backgraund3.jpg");
  background-size: 108vh 34vh;
  background-repeat: repeat;
  background-color: rgba(22, 23, 22, 0.2);
  background-blend-mode: overlay;
  padding: 3%;
}
.footer {
  height: 15vh;
  padding: 0;
  background-color: white;
}
.footer_container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.footer-img {
  transition: all .5s ease-in-out;
  opacity: 0.4;
  cursor: pointer;
}
.footer-img:hover {
  opacity: 1;
}
.card {
  width: auto;
}